<form action="/create" method="POST">
    <h2>Create To do</h2>

    <div class="input-field">
        <input type="text" name="name">
        <label>Name</label>
    </div>
    <button type="submit" class="btn">Create</button>

</form>